
body {
    display: flex;
    justify-content: center;
    background-color: #b98bff;
    background-image: url("assault.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #e2b7ff;
    border: 1px solid black;
    border-radius: 4px;
    padding: 18px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
